In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
circuits_file = "circuits.csv"
circuits_df = pd.read_csv(circuits_file)
circuits_df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [44]:
race_file = "races.csv"
race_df = pd.read_csv(race_file)
race_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [46]:
race_df = race_df.set_index('raceId')
race_df.head()

AttributeError: 'NoneType' object has no attribute 'set_index'

In [42]:
race_cols = ['year', 'circuitId', 'name', 'url']
race_transformed = race_df[race_cols].copy()
race_transformed
# race_transformed = race_transformed.set_index('raceId', inplace=True)
# race_transformed.head()

,raceId,year,circuitId,name,url
0,1,2009,1,Australian Grand Prix,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,Malaysian Grand Prix,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,17,Chinese Grand Prix,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,3,Bahrain Grand Prix,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,4,Spanish Grand Prix,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...
1052,1069,2021,69,United States Grand Prix,http://en.wikipedia.org/wiki/2021_United_State...
1053,1070,2021,32,Mexico City Grand Prix,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1054,1071,2021,18,Brazilian Grand Prix,http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
1055,1072,2021,77,Saudi Arabian Grand Prix,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1056,1073,2021,24,Abu Dhabi Grand Prix,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...