In [2]:

# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# Import db info
from config import usr
from config import pwd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

engine = create_engine(f'postgresql://{usr}:{pwd}@localhost:5432/F1')
connection = engine.connect()

In [3]:
# Query the db and put the result in a dataframe
q_drivers = 'select * from public."Drivers"'
df = pd.read_sql_query(q_drivers, connection)
df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [4]:
# Query the db and put the result in a dataframe
q_driver_standings = 'select * from public."DriverStandings"'
df = pd.read_sql_query(q_driver_standings, connection)
df.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [5]:
# Query the db and put the result in a dataframe
q_results = 'select * from public."Results"'
df = pd.read_sql_query(q_results, connection)
df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,1:34:50.616,5690616.0,39.0,2.0,1:27.452,218.300,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,+5.478,5696094.0,41.0,3.0,1:27.739,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,+8.163,5698779.0,41.0,5.0,1:28.090,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,+17.181,5707797.0,58.0,7.0,1:28.603,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,+18.014,5708630.0,43.0,1.0,1:27.418,218.385,1

In [6]:
# Query the db and put the result in a dataframe
q_status = 'select * from public."Status"'
df = pd.read_sql_query(q_status, connection)
df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['Drivers', 'DriverStandings', 'Results', 'Status']

In [4]:
Drivers = Base.classes.Drivers
DriverStandings = Base.classes.DriverStandings
Results = Base.classes.Results
Status = Base.classes.Status

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [11]:
# Get the top 3 winingest drivers

driverWinstotals = session.query(DriverStandings.driverId, func.sum(DriverStandings.wins).label("TotalWins"))\
    .group_by(DriverStandings.driverId)\
    .order_by(func.sum(DriverStandings.wins).desc()).subquery()

driverWins = session.query(Drivers.driverId, (Drivers.forename + ' ' + Drivers.surname).label("DriverName"), driverWinstotals.c.TotalWins, Drivers.url)\
    .join(driverWinstotals, Drivers.driverId == driverWinstotals.c.driverId).all()

df = pd.DataFrame(driverWins, columns=['Driver ID', 'Driver Name', 'Total Wins', 'URL'])
df.set_index('Driver ID', inplace=True)
df.sort_values(by='Total Wins', ascending=False).head(3)

,Driver Name,Total Wins,URL
Driver ID,,,
1,Lewis Hamilton,980,http://en.wikipedia.org/wiki/Lewis_Hamilton
30,Michael Schumacher,849,http://en.wikipedia.org/wiki/Michael_Schumacher
20,Sebastian Vettel,517,http://en.wikipedia.org/wiki/Sebastian_Vettel

In [7]:
session.close()