In [7]:

# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# Import db info
from config import usr
from config import pwd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

engine = create_engine(f'postgresql://{usr}:{pwd}@localhost:5432/F1')
connection = engine.connect()

In [3]:
# Query the db and put the result in a dataframe
q_drivers = 'select * from public."Drivers"'
df = pd.read_sql_query(q_drivers, connection)
df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [4]:
# Query the db and put the result in a dataframe
q_driver_standings = 'select * from public."DriverStandings"'
df = pd.read_sql_query(q_driver_standings, connection)
df.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [5]:
# Query the db and put the result in a dataframe
q_results = 'select * from public."Results"'
df = pd.read_sql_query(q_results, connection)
df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,1:34:50.616,5690616.0,39.0,2.0,1:27.452,218.300,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,+5.478,5696094.0,41.0,3.0,1:27.739,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,+8.163,5698779.0,41.0,5.0,1:28.090,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,+17.181,5707797.0,58.0,7.0,1:28.603,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,+18.014,5708630.0,43.0,1.0,1:27.418,218.385,1

In [6]:
# Query the db and put the result in a dataframe
q_status = 'select * from public."Status"'
df = pd.read_sql_query(q_status, connection)
df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [8]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['Drivers', 'DriverStandings', 'Results', 'Status']

In [9]:
Drivers = Base.classes.Drivers
DriverStandings = Base.classes.DriverStandings
Results = Base.classes.Results
Status = Base.classes.Status

In [18]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [36]:
# (Drivers.forename + ' ' + Drivers.surname).label("DriverName")


driverNames = session.query((Drivers.forename + ' ' + Drivers.surname).label("DriverName"), Drivers.driverId).subquery()

driverWinstotals = session.query(DriverStandings.driverId, func.sum(DriverStandings.wins).label("TotalWins"))\
    .group_by(DriverStandings.driverId)\
    .order_by(func.sum(DriverStandings.wins).desc())\
    .join(driverNames, DriverStandings.driverId == driverNames.c.driverId).all()

driverWinstotals
#df = pd.DataFrame(q, columns=['Driver Name', 'Total Wins'])
#df

[(1, 980),
 (30, 849),
 (20, 517),
 (117, 472),
 (102, 394),
 (4, 346),
 (3, 269),
 (95, 258),
 (182, 224),
 (328, 191),
 (8, 187),
 (18, 180),
 (137, 178),
 (71, 178),
 (57, 157),
 (373, 146),
 (830, 145),
 (14, 142),
 (224, 120),
 (199, 109),
 (579, 108),
 (207, 107),
 (822, 103),
 (13, 96),
 (35, 93),
 (222, 90),
 (817, 87),
 (17, 86),
 (356, 85),
 (289, 84),
 (178, 71),
 (475, 67),
 (23, 61),
 (238, 59),
 (231, 58),
 (304, 58),
 (647, 54),
 (22, 52),
 (172, 52),
 (163, 51),
 (21, 50),
 (187, 49),
 (203, 46),
 (105, 44),
 (358, 43),
 (77, 43),
 (119, 43),
 (235, 37),
 (31, 36),
 (177, 34),
 (56, 33),
 (223, 32),
 (202, 31),
 (360, 28),
 (49, 28),
 (479, 27),
 (341, 25),
 (221, 23),
 (364, 22),
 (642, 21),
 (345, 21),
 (123, 19),
 (65, 19),
 (173, 18),
 (844, 17),
 (175, 17),
 (657, 16),
 (813, 16),
 (427, 16),
 (581, 14),
 (815, 13),
 (15, 13),
 (250, 13),
 (219, 13),
 (9, 12),
 (578, 12),
 (55, 12),
 (200, 11),
 (255, 11),
 (44, 11),
 (476, 11),
 (346, 10),
 (842, 10),
 (403, 10),
 (498, 9),
 (306, 9),
 (309, 9),
 (641, 8),
 (5, 8),
 (525, 8),
 (509, 8),
 (449, 8),
 (577, 8),
 (347, 7),
 (526, 7),
 (766, 7),
 (559, 6),
 (839, 6),
 (611, 6),
 (593, 5),
 (628, 5),
 (394, 5),
 (786, 5),
 (385, 4),
 (320, 3),
 (375, 3),
 (230, 3),
 (145, 2),
 (404, 1),
 (327, 1),
 (386, 1),
 (391, 0),
 (487, 0),
 (458, 0),
 (414, 0),
 (2, 0),
 (699, 0),
 (640, 0),
 (368, 0),
 (246, 0),
 (75, 0),
 (128, 0),
 (735, 0),
 (714, 0),
 (538, 0),
 (166, 0),
 (344, 0),
 (595, 0),
 (745, 0),
 (142, 0),
 (534, 0),
 (410, 0),
 (152, 0),
 (428, 0),
 (637, 0),
 (355, 0),
 (792, 0),
 (747, 0),
 (651, 0),
 (381, 0),
 (38, 0),
 (359, 0),
 (597, 0),
 (193, 0),
 (777, 0),
 (164, 0),
 (730, 0),
 (548, 0),
 (453, 0),
 (217, 0),
 (787, 0),
 (186, 0),
 (709, 0),
 (47, 0),
 (501, 0),
 (750, 0),
 (727, 0),
 (545, 0),
 (810, 0),
 (779, 0),
 (528, 0),
 (110, 0),
 (27, 0),
 (811, 0),
 (557, 0),
 (563, 0),
 (143, 0),
 (496, 0),
 (58, 0),
 (718, 0),
 (228, 0),
 (667, 0),
 (623, 0),
 (485, 0),
 (814, 0),
 (668, 0),
 (850, 0),
 (294, 0),
 (229, 0),
 (481, 0),
 (788, 0),
 (645, 0),
 (52, 0),
 (607, 0),
 (633, 0),
 (438, 0),
 (382, 0),
 (258, 0),
 (853, 0),
 (378, 0),
 (483, 0),
 (450, 0),
 (405, 0),
 (84, 0),
 (170, 0),
 (762, 0),
 (712, 0),
 (799, 0),
 (192, 0),
 (276, 0),
 (513, 0),
 (101, 0),
 (473, 0),
 (646, 0),
 (69, 0),
 (379, 0),
 (679, 0),
 (115, 0),
 (415, 0),
 (97, 0),
 (108, 0),
 (729, 0),
 (680, 0),
 (408, 0),
 (59, 0),
 (782, 0),
 (589, 0),
 (689, 0),
 (127, 0),
 (555, 0),
 (522, 0),
 (682, 0),
 (674, 0),
 (567, 0),
 (329, 0),
 (630, 0),
 (11, 0),
 (575, 0),
 (821, 0),
 (401, 0),
 (816, 0),
 (659, 0),
 (739, 0),
 (676, 0),
 (153, 0),
 (778, 0),
 (507, 0),
 (279, 0),
 (214, 0),
 (847, 0),
 (419, 0),
 (741, 0),
 (716, 0),
 (664, 0),
 (543, 0),
 (736, 0),
 (565, 0),
 (566, 0),
 (551, 0),
 (532, 0),
 (457, 0),
 (85, 0),
 (592, 0),
 (281, 0),
 (687, 0),
 (553, 0),
 (259, 0),
 (519, 0),
 (302, 0),
 (409, 0),
 (840, 0),
 (288, 0),
 (622, 0),
 (521, 0),
 (324, 0),
 (774, 0),
 (398, 0),
 (249, 0),
 (635, 0),
 (388, 0),
 (165, 0),
 (151, 0),
 (820, 0),
 (639, 0),
 (296, 0),
 (209, 0),
 (74, 0),
 (620, 0),
 (138, 0),
 (34, 0),
 (418, 0),
 (245, 0),
 (205, 0),
 (761, 0),
 (67, 0),
 (407, 0),
 (325, 0),
 (90, 0),
 (673, 0),
 (443, 0),
 (387, 0),
 (783, 0),
 (484, 0),
 (334, 0),
 (558, 0),
 (144, 0),
 (540, 0),
 (39, 0),
 (168, 0),
 (690, 0),
 (598, 0),
 (471, 0),
 (393, 0),
 (287, 0),
 (524, 0),
 (464, 0),
 (312, 0),
 (167, 0),
 (277, 0),
 (290, 0),
 (494, 0),
 (469, 0),
 (683, 0),
 (300, 0),
 (118, 0),
 (793, 0),
 (662, 0),
 (608, 0),
 (317, 0),
 (284, 0),
 (342, 0),
 (702, 0),
 (488, 0),
 (126, 0),
 (194, 0),
 (463, 0),
 (99, 0),
 (629, 0),
 (367, 0),
 (726, 0),
 (374, 0),
 (588, 0),
 (41, 0),
 (439, 0),
 (206, 0),
 (46, 0),
 (719, 0),
 (586, 0),
 (572, 0),
 (53, 0),
 (32, 0),
 (756, 0),
 (336, 0),
 (318, 0),
 (275, 0),
 (247, 0),
 (260, 0),
 (423, 0),
 (136, 0),
 (442, 0),
 (354, 0),
 (139, 0),
 (12, 0),
 (293, 0),
 (411, 0),
 (425, 0),
 (672, 0),
 (495, 0),
 (154, 0),
 (825, 0),
 (234, 0),
 (316, 0),
 (731, 0),
 (474, 0),
 (256, 0),
 (654, 0),
 (332, 0),
 (748, 0),
 (675, 0),
 (33, 0),
 (696, 0),
 (422, 0),
 (549, 0),
 (264, 0),
 (185, 0),
 (653, 0),
 (380, 0),
 (215, 0),
 (270, 0),
 (612, 0),
 (486, 0),
 (435, 0),
 (625, 0),
 (384, 0),
 (617, 0),
 (351, 0),
 (116, 0),
 (765, 0),
 (732, 0),
 (552, 0),
 (837, 0),
 (819, 0),
 (314, 0),
 (826, 0),
 (431, 0),
 (426, 0),
 (433, 0),
 (491, 0),
 (462, 0),
 (734, 0),
 (299, 0),
 (169, 0),
 (605, 0),
 (92, 0),
 (541, 0),
 (436, 0),
 (180, 0),
 (660, 0),
 (437, 0),
 (236, 0),
 (626, 0),
 (263, 0),
 (836, 0),
 (197, 0),
 (784, 0),
 (493, 0),
 (711, 0),
 (707, 0),
 (665, 0),
 (470, 0),
 (454, 0),
 (780, 0),
 (759, 0),
 (768, 0),
 (482, 0),
 (227, 0),
 (838, 0),
 (500, 0),
 (478, 0),
 (149, 0),
 (311, 0),
 (73, 0),
 (505, 0),
 (103, 0),
 (280, 0),
 (239, 0),
 (121, 0),
 (88, 0),
 (420, 0),
 (188, 0),
 (461, 0),
 (561, 0),
 (240, 0),
 (717, 0),
 (634, 0),
 (845, 0),
 (755, 0),
 (650, 0),
 (196, 0),
 (291, 0),
 (703, 0),
 (226, 0),
 (210, 0),
 (843, 0),
 (710, 0),
 (48, 0),
 (447, 0),
 (767, 0),
 (298, 0),
 (81, 0),
 (61, 0),
 (244, 0),
 (602, 0),
 (691, 0),
 (468, 0),
 (697, 0),
 (721, 0),
 (800, 0),
 (251, 0),
 (204, 0),
 (705, 0),
 (104, 0),
 (171, 0),
 (456, 0),
 (796, 0),
 (397, 0),
 (531, 0),
 (604, 0),
 (283, 0),
 (807, 0),
 (624, 0),
 (546, 0),
 (179, 0),
 (562, 0),
 (686, 0),
 (636, 0),
 (297, 0),
 (681, 0),
 (361, 0),
 (321, 0),
 (303, 0),
 (829, 0),
 (402, 0),
 (785, 0),
 (804, 0),
 (643, 0),
 (472, 0),
 (444, 0),
 (537, 0),
 (445, 0),
 (233, 0),
 (89, 0),
 (93, 0),
 (252, 0),
 (343, 0),
 (776, 0),
 (467, 0),
 (723, 0),
 (253, 0),
 (692, 0),
 (497, 0),
 (109, 0),
 (155, 0),
 (722, 0),
 (133, 0),
 (609, 0),
 (724, 0),
 (416, 0),
 (195, 0),
 (372, 0),
 (369, 0),
 (441, 0),
 (339, 0),
 (600, 0),
 (243, 0),
 (772, 0),
 (335, 0),
 (740, 0),
 (603, 0),
 (591, 0),
 (808, 0),
 (383, 0),
 (301, 0),
 (7, 0),
 (757, 0),
 (771, 0),
 (827, 0),
 (503, 0),
 (254, 0),
 (377, 0),
 (78, 0),
 (573, 0),
 (159, 0),
 (852, 0),
 (432, 0),
 (619, 0),
 (621, 0),
 (319, 0),
 (76, 0),
 (517, 0),
 (106, 0),
 (129, 0),
 (795, 0),
 (585, 0),
 (789, 0),
 (708, 0),
 (455, 0),
 (370, 0),
 (684, 0),
 (267, 0),
 (68, 0),
 (713, 0),
 (773, 0),
 (448, 0),
 (146, 0),
 (396, 0),
 (701, 0),
 (511, 0),
 (162, 0),
 (738, 0),
 (797, 0),
 (514, 0),
 (322, 0),
 (582, 0),
 (854, 0),
 (389, 0),
 (330, 0),
 (751, 0),
 (237, 0),
 (451, 0),
 (262, 0),
 (323, 0),
 (348, 0),
 (337, 0),
 (114, 0),
 (504, 0),
 (60, 0),
 (399, 0),
 (112, 0),
 (560, 0),
 (547, 0),
 (818, 0),
 (754, 0),
 (613, 0),
 (518, 0),
 (268, 0),
 (737, 0),
 (583, 0),
 (569, 0),
 (615, 0),
 (452, 0),
 (798, 0),
 (693, 0),
 (98, 0),
 (744, 0),
 (715, 0),
 (527, 0),
 (490, 0),
 (601, 0),
 (590, 0),
 (82, 0),
 (763, 0),
 (627, 0),
 (286, 0),
 (376, 0),
 (147, 0),
 (480, 0),
 (338, 0),
 (685, 0),
 (412, 0),
 (610, 0),
 (79, 0),
 (26, 0),
 (564, 0),
 (678, 0),
 (535, 0),
 (812, 0),
 (510, 0),
 (232, 0),
 (725, 0),
 (131, 0),
 (198, 0),
 (310, 0),
 (212, 0),
 (37, 0),
 (832, 0),
 (584, 0),
 (746, 0),
 (720, 0),
 (806, 0),
 (353, 0),
 (489, 0),
 (834, 0),
 (831, 0),
 (515, 0),
 (574, 0),
 (616, 0),
 (225, 0),
 (706, 0),
 (83, 0),
 (333, 0),
 (63, 0),
 (571, 0),
 (516, 0),
 (666, 0),
 (542, 0),
 (395, 0),
 (216, 0),
 (174, 0),
 (45, 0),
 (295, 0),
 (694, 0),
 (213, 0),
 (134, 0),
 (274, 0),
 (801, 0),
 (833, 0),
 (669, 0),
 (352, 0),
 (36, 0),
 (848, 0),
 (362, 0),
 (752, 0),
 (430, 0),
 (688, 0),
 (158, 0),
 (594, 0),
 (460, 0),
 (533, 0),
 (499, 0),
 (265, 0),
 (111, 0),
 (851, 0),
 (459, 0),
 (16, 0),
 (62, 0),
 (326, 0),
 (568, 0),
 (371, 0),
 (805, 0),
 (492, 0),
 (655, 0),
 (544, 0),
 (365, 0),
 (704, 0),
 (157, 0),
 (413, 0),
 (606, 0),
 (649, 0),
 (618, 0),
 (308, 0),
 (183, 0),
 (100, 0),
 (313, 0),
 (150, 0),
 (656, 0),
 (140, 0),
 (421, 0),
 (248, 0),
 (208, 0),
 (614, 0),
 (392, 0),
 (24, 0),
 (191, 0),
 (429, 0),
 (835, 0),
 (760, 0),
 (25, 0),
 (141, 0),
 (122, 0),
 (94, 0),
 (218, 0),
 (648, 0),
 (570, 0),
 (434, 0),
 (211, 0),
 (671, 0),
 (580, 0),
 (530, 0),
 (536, 0),
 (465, 0),
 (520, 0),
 (64, 0),
 (742, 0),
 (846, 0),
 (148, 0),
 (790, 0),
 (828, 0),
 (184, 0),
 (87, 0),
 (753, 0),
 (652, 0),
 (477, 0),
 (273, 0),
 (550, 0),
 (51, 0),
 (272, 0),
 (781, 0),
 (70, 0),
 (190, 0),
 (350, 0),
 (758, 0),
 (539, 0),
 (554, 0),
 (278, 0),
 (424, 0),
 (406, 0),
 (670, 0),
 (176, 0),
 (576, 0),
 (849, 0),
 (292, 0),
 (663, 0),
 (770, 0),
 (271, 0),
 (156, 0),
 (417, 0),
 (764, 0),
 (556, 0),
 (529, 0),
 (638, 0),
 (791, 0),
 (775, 0),
 (282, 0),
 (390, 0),
 (733, 0),
 (269, 0),
 (261, 0),
 (502, 0),
 (42, 0),
 (189, 0),
 (161, 0),
 (113, 0),
 (257, 0),
 (125, 0),
 (40, 0),
 (700, 0),
 (43, 0),
 (632, 0),
 (658, 0),
 (587, 0),
 (120, 0),
 (802, 0),
 (695, 0),
 (440, 0),
 (794, 0),
 (349, 0),
 (19, 0),
 (160, 0),
 (728, 0),
 (644, 0),
 (824, 0),
 (506, 0),
 (508, 0),
 (357, 0),
 (242, 0),
 (331, 0),
 (769, 0),
 (599, 0),
 (677, 0),
 (266, 0),
 (315, 0),
 (366, 0),
 (307, 0),
 (841, 0),
 (91, 0),
 (803, 0),
 (305, 0),
 (54, 0),
 (29, 0),
 (698, 0),
 (181, 0),
 (96, 0),
 (743, 0),
 (466, 0),
 (201, 0),
 (10, 0),
 (631, 0),
 (107, 0),
 (6, 0),
 (446, 0),
 (749, 0),
 (220, 0),
 (86, 0),
 (823, 0),
 (400, 0),
 (241, 0),
 (363, 0),
 (596, 0),
 (285, 0),
 (50, 0),
 (66, 0),
 (661, 0),
 (512, 0),
 (340, 0),
 (523, 0)]

In [35]:
session.close()