In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# Postgres db setup
from config import pwd, user
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

engine = create_engine(f'postgresql://{user}:{pwd}@localhost:5433/F1')
connection = engine.connect()

In [10]:
# Import qualifying csv
qualifying_file = "../resources/data/qualifying.csv"
qualifying_df = pd.read_csv(qualifying_file, index_col='qualifyId')
qualifying_df

,raceId,driverId,constructorId,number,position,q1,q2,q3
qualifyId,,,,,,,,
1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...
9051,1067,817,1,3,16,1:25.881,\N,\N
9052,1067,849,3,6,17,1:26.086,\N,\N
9053,1067,841,51,99,18,1:26.430,\N,\N
9054,1067,8,51,7,19,1:27.525,\N,\N
9055,1067,853,210,9,20,1:28.449,\N,\N

In [11]:
# Verify data type and nulls
qualifying_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9015 entries, 1 to 9055
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   raceId         9015 non-null   int64
 1   driverId       9015 non-null   int64
 2   constructorId  9015 non-null   int64
 3   number         9015 non-null   int64
 4   position       9015 non-null   int64
 5   q1             9007 non-null   object
 6   q2             8881 non-null   object
 7   q3             8760 non-null   object
dtypes: int64(5), object(3)
memory usage: 633.9+ KB

In [12]:
# Drop unwanted columns
qualifying_df = qualifying_df.drop(columns=['q1','q2','q3','constructorId', 'number'])
qualifying_df.head()

           raceId  driverId  position
qualifyId
1              18         1         1
2              18         9         2
3              18         5         3
4              18        13         4
5              18         2         5

In [13]:
# rename column to match SQL table in db
qualifying_df = qualifying_df.rename(columns={"raceId":"raceid"})
qualifying_df.head()

           raceid  driverId  position
qualifyId
1              18         1         1
2              18         9         2
3              18         5         3
4              18        13         4
5              18         2         5

In [16]:
qualifying_df.to_sql(name="Qualifying", con=engine, if_exists='append', index=True)